<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>felikcat.set.ios.tcpstack</string>
        <key>LaunchOnlyOnce</key>
        <false/>
        <key>ProgramArguments</key>
        <array>
            <string>/var/root/set-ios-tcp-stack.sh</string>
        </array>
        <key>UserName</key>
        <string>root</string>
        <key>GroupName</key>
        <string>wheel</string>
        <key>RunAtLoad</key>
        <true />
    </dict>
</plist>